@import url('https://fonts.googleapis.com/css2?family=Bungee+Shade&display=swap');
html ,body
{
	height: 100%;
}
#clock
{
	color:white;
	font-size:70px;
	position: relative;
	top:40%;
	text-align: center;
	font-family: 'Bungee Shade', cursive;
}